{% extends "fellowships-base.html" %}

{% block template_id %}fellows-directory{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12 col-lg-9">
    <div class="mb-4">
      <h1 class="h1-white">Fellows Directory</h1>
    </div>
  </div>
</div>

{% for type in types %}
<div class="row mb-5">
  <div class="col-12">
    <h3 class="h3-black text-capitalize">{{ type }} Fellows</h3>
    <div class="row featured-fellow" data-type="{{type}}"></div>
  </div>
  <div class="col-12 text-center mt-3 mb-5">
    <a href="/fellowships/directory/{{type}}" class="btn btn-ghost">See all {{type}} fellows</a>
  </div>
</div>
{% endfor %}

{% endblock %}
