{% extends "foundation-base.html" %}

{% block body %}
<div class="row mb-5">
  <div class="col-md-12 my-5">
    <h1 class="h1-white">Science Fellowship</h1>
  </div>
  <div class="col-md-9">
    <p>Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship</p>
    <p>Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship</p>
    <p>Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science Fellowship Science </p>
  </div>
  <div class="col-md-3">img</div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Stipend and Financial Benefits</h4>
  </div>
  <div class="col-md-6">img</div>
  <div class="col-md-6">
    <p>Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits</p>
    <p>Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits Stipend and Financial Benefits Stipend</p>
  </div>
  <div class="col-md-12">
    <p>Fellows will receive:</p>
    <ul>
      <li>Apple pie cotton candy lollipop lollipop lollipop topping. Sweet roll caramels marzipan chupa chups. Cupcake cupcake jelly-o bonbon carrot cake biscuit gummies.</li>
      <li>Lemon drops. Tootsie roll dessert cake chocolate ice cream topping muffin.</li>
      <li>Sugar plum caramels jelly.</li>
      <li>Marshmallow jelly beans sesame snaps fruitcake jelly-o icing bear claw dessert.</li>
      <li>Tart pie bonbon cake. Topping dessert tart cake biscuit tart. Tootsie roll sugar plum bonbon topping sesame snaps cupcake.</li>
      <li>Marshmallow dragée pudding danish jelly beans biscuit lemon drops gingerbread cookie. Gummi bears pastry sesame snaps oat cake candy canes chocolate sesame snaps.</li>
    </ul>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Eligibility Criteria</h4>
  </div>
  <div class="col-md-8">
    <p>Fellows must be: </p>
    <ul>
      <li>list item 1 list item 1 list item 1 list item 1 list item 1 list item 1 list item 1 list item 1 list item 1 list item 1 list item 1 list item 1</li>
      <li>list item 2 list item 2 list item 2 list item 2 list item 2</li>
      <li>list item 3 list item 3 list item 3 list item 3 list item 3 list item 3 list item 3 list item 3</li>
      <li>list item 4 list item 4 list item 4 list item 4 list item 4 list item 4 list item 4 list item 4 list item 4</li>
    </ul>
  </div>
  <div class="col-md-4">img</div>
</div>

<div class="row py-5 px-md-2">
  <div class="col-md-2">img</div>
  <div class="col-md-10">
    <div class="d-flex flex-column flex-md-row justify-content-around">
      <div>
        <h2 class="h3-cta-black">Application are open</h2>
        <p>short copy short copy short copy short copy short copy short copy short copy short copy short copy</p>
      </div>
      <div class="ml-md-5 align-self-center">
        <button class="btn btn-normal">I want to be a Fellow</button>
      </div>
    </div>
  </div>
</div>

<div class="row py-5 px-md-2">
  <div class="col-md-1">img</div>
  <div class="col-md-11">
    <div class="d-flex flex-column flex-md-row justify-content-around">
      <div>
        <p>Want to support the incredible work Fellows are doing? Either as a host organization or a funder, you can join us to keep the Internet healthy.</p>
      </div>
      <div class="ml-md-5 align-self-center">
        <button class="btn btn-ghost">Ways to Support</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
